<h2>Create character</h2>

<form action="/character/create" method="post">
    <label for="name">Name</label>
    <input type="text" name="name" id="name">

    <label for="occupation">Occupation</label>
    <input type="text" name="occupation" id="occupation">

    <label for="debt">In debt?</label>
    <input type="checkbox" name="debt" id="debt" value="true">

    <label for="weapon">Weapon</label>
    <input type="text" name="weapon" id="weapon">

    <button type="submit">Create</button>
</form>